<div class="container-form-rents">
<form (ngSubmit)="rentCar()">
  <div class="field">
    <label class="label" for="">Cliente:</label>
    <div class="select is-normal control">
      <select id="customer" [(ngModel)]="rent.id_customer" name="customerId" required>
        <option *ngFor="let customer of customers" [value]="customer.id_customer">
          {{ customer.name }} {{ customer.last_names }}
        </option>
      </select>
    </div>
  </div>

  <div class="field">
    <label class="label" for="">Carro:</label>
    <div class="select is-normal">
      <select id="car" [(ngModel)]="rent.id_car" name="carId" required (change)="onCarSelected($event)">
        <option *ngFor="let car of cars" [value]="car.id_car">
          {{ car.model }} - {{ car.price_day }} por día
        </option>
      </select>
    </div>
  </div>

  <div class="field">
    <label class="label" for="">Fecha de inicio:</label>
    <input type="date" id="startDate" [(ngModel)]="rent.start_date" (change)="onDateChange()"  name="startDate" required />
  </div>

  <div class="field">
    <label class="label" for="">Fecha de entrega:</label>
    <input type="date" id="endDate" [(ngModel)]="rent.end_date" (change)="onDateChange()" name="endDate" required />
  </div>

  <div class="field">
    <label class="label">Precio Total:</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="rent.total_price" name="total_price" readonly />
    </div>
  </div>

  <button class="button" type="submit">Rent Car</button>
</form>
</div>
