<div class="container-form-customers">
  <div class="field">
    <label class="label" for="">Nombre:</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="custom.name" placeholder="Escribe tu nombre" maxlength="35" required>
    </div>

  <div class="field">
    <label class="label">Apellidos:</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="custom.last_names" placeholder="Escribe tus apellidos" maxlength="45" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Número de teléfono:</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="custom.phone_number" placeholder="Escribe tu número de teléfono" maxlength="10" required>
    </div>
  </div>

  <div class="field">
    <label class="label">CURP:</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="custom.CURP" placeholder="Escribe tu CURP" maxlength="18" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Número de licencia:</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="custom.number_license" placeholder="Escribe tu número de licencia" maxlength="18" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Fecha de nacimiento:</label>
    <div class="control">
      <input class="input" type="date" [(ngModel)]="custom.birthdate" placeholder="Escribe tu fecha de nacimiento" required>
    </div>
  </div>

  <button class="button" (click)="registerCustomer()">Registrar</button>

</div>
